<div id="dark-bg">
	<div class="container centered tp">
		<h1 style="color:white;">Ask Joe</h1>
		<div class="col-md-4">
			<h3>askjoe@stockjoe.com</h3>
		</div>
		<div class="col-xs-6 col-md-4 pull-left">
			<h3 class="text-center"><a href="https://twitter.com/stockjoealerts"><img class="img-responsive center-block" src="/img/twitter.png" style="max-height:50px"></a></h3>
		</div>
		<div class="col-xs-6 col-md-4">
			<h3 class="text-center"><a href="https://www.facebook.com/stockjoe"><img class="img-responsive center-block" src="/img/fb.png" style="max-height:50px"></a></h3>
		</div>
	</div>
</div>