<div id="account" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>ADMIN</h2>
                <button class="btn btn-default" ng-click="testBreakout()">testBreakout</button>
                <button class="btn btn-default" ng-click="testemail()">testemail</button>
                <button class="btn btn-default" ng-click="savecontent()">savecontent</button>
                <button class="btn btn-default" ng-click="addwhy()">addwhy</button>
                <button class="btn btn-default" ng-click="updatewhy()">updatewhy</button>
                <p ng-model="thelesson">{{thelesson}}</p>
                <h2 ng-model="thewhytitle">{{thewhytitle}}</h2>
                <p ng-model="thewhycontent">{{thewhycontent}}</p>
            </div>
        </div>
    </div>
</div>