<div id="hello">
    <div class="container">
    	<div class="row">
            <div class="col-lg-12">
	    		<div class="col-lg-7 centered">
	    			<h1>Stock Joe</h1>
	    			<h2>THE STOCK MARKET SIMPLIFIED</h2>
	    			<h4>Never invested before? <a href="" ng-click="signModalL()">START HERE</a></h4>
	    		</div><!-- /col-lg-8 -->
                <div class="col-lg-5 col-lg-offset-0 col-md-6 col-md-offset-3">
                    <p class='mt'>One email a day to efficiently keep tabs on your stock portfolio for free</p>
                    <div class="form-group input-group-lg">
                        <button class="btn-custom btn-signup btn-large btn-nofo" ng-click="signModalH()">SIGN UP</button>
                    </div>
                </div>
            </div>
    	</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /hello -->

<div id="skills">
	<div class="container">
		<div id="mission" class="row centered grid">
			<h3>HOW IT WORKS</h3>
			<div class="mt"></div>
			<div class="col-lg-4 col-md-4">
				<h2>1. Sign Up</h1>
				<p class="">Just your email.</p>
			</div>
			<div class="col-lg-4 col-md-4">
				<h2>2. Pick Your Stocks</h2>
				<p class="">No annoying price alert creation or trade inputs, just your stock and ETF picking skills.</p>
			</div>
			<div class="col-lg-4 col-md-4">
				<h2>3. Check Your Inbox</h2>
				<p class="">Algorithms give you stock alerts and humans tell you what you need to know.</p>
			</div>
		</div>
	</div>
</div>

<div id="tech">
	<div class="container">
		<div class="row centered grid">
			<h3>TECHNOLOGY</h3>
			<div class="mt"></div>
			<div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
				<p id="techp" class="text-left">Algorithms analyze daily stock market data to simplify investing by giving you the important alerts you need to manage a successful stock portfolio.</p>
			</div>
			<div id="techpicwrap" class="col-lg-4 col-md-4 col-lg-offset-2 col-md-offset-2">
				<img class="img-responsive center-block" src="img/alertexample3.png" alt="stock alerts">
			</div>
		</div>
	</div>
</div>

<div id="skills">
	<div class="container">
		<div class="row centered grid">
			<h3>ALERTS THAT MATTER</h3>
			<div class="mt"></div>
			<div class="col-lg-4 col-md-4">
				<img class="img-responsive center-block" src="img/srchart.png" alt="stock graph with support and resistance indicator">
				<h4>Support/Resistance</h4>
			</div>
			<div class="col-lg-4 col-md-4">
				<img class="img-responsive center-block" src="img/volumechart.png" alt="stock graph with high trading indicator">
				<h4>High Volume</h4>
			</div>
			<div class="col-lg-4 col-md-4">
				<img class="img-responsive center-block" src="img/machart.png" alt="stock graph with moving average indicators">
				<h4>Moving Averages</h4>
			</div>
		</div>
	</div>
</div>

<div id="green">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 centered">
				<!-- <p><small>Disclaimer: Stock Joe alerts are dependent on the accuracy of third party data providers and is not guaranteed. Stock Joe does not guarantee any financial performance and is not liable for any losses that its users may incur.</small></p> -->
			</div>
		</div>
	</div>
</div>

<div id="f">
	<div class="container">
		<div class="row">
			<ul class="list-inline">
				<li>support@stockjoe.com</li>
				<li><a href="https://www.dropbox.com/sh/4xt3api4x1nienf/AADtIu9ShaDoWflBG9TX-gxia?dl=0">Press Kit</a></li>
                <li><a ui-sref="privacy">Privacy</a></li>
                <li><a ui-sref="terms">Terms of Service</a></li>
                <li>&copy; Bunky, Inc. 2015</li>
            </ul>
		</div>
	</div>
</div>