<div class="container tp">
	<div class="col-lg-8 col-lg-offset-2">
		<h1>Stock Lingo</h1>
		<h3>High Volume</h3>
		<p>Volume is the amount of stock or number of shares of stock traded in a day. If a stock has high volume compared to its average daily volume, this can be an indicator that an event has occured or is about to occur that could affect the stock price.</p>
		<h3>Moving Average</h3>
		<p>Moving averages are simply average prices over a certain time period. The 50 day moving average is the average price of the stock over the last 50 days. When moving averages of different time periods cross this typically shows a change in the trend of a stock price's movement. Moving averages of large time periods can also act as support for a stock price. The 200 day moving average is a common support and resistance indicator for stock prices. An index will often use the 100, 150, and 200 day moving averages as support levels.</p>
		<h3>Resistance</h3>
		<p>Resistance is a psychological price barrier that the stock price has a tendancy to remain below. However, once the stock price breaks above the resistance price, the stock price is likely to increase quickly. If a stock price bounces off the resistance price, it is often seen as a good time to sell the stock. If a stock price breaks above the resistance price, it is often seen as a good time to buy the stock.</p>
		<h3>Stop</h3>
		<p>A stop is a trade that is triggered when a stock hits a certain price. It is a common strategy to place stops at a price just below support to minimize financial losses. A phrase people use is "stopped out," meaning a stock price triggered an automatic sell trade. This phrase is typically used in the context of missing out on a chance to make money on stock that has risen in value.</p>
		<h3>Support</h3>
		<p>Support is a psychological price barrier that the stock price has a tendancy to stay above. However, once the stock price breaks below the support price, the stock price is likely to drop quickly. If a stock price bounces near the support price, it is often seen as a good time to buy the stock. If a stock price breaks below the support price, it is often seen as a good time to sell the stock. Because of this psychological phenomenon, investors will place stops on their investments just below the support price.</p>
	</div>
</div>